<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Exam Project</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header class="header">
        <div class="wrapper">
            <div class="float-wrapper">
                <div class="login">
                    <a href="#" class="login__button">Log in</a>
                    <a href="#" class="login__button login__button--bordered">Sign up</a>
                </div>
                <h1 class="header__title">URLAUBSGLÜCK</h1>
            </div>
            <h2 class="header__slogan">Share your holiday dreams</h2>
            <p class="header__slogan--add">And find the perfect partner to fullfill it</p>
            <a href="#" class="button button--header-main">Find your holiday partner</a>
        </div>
    </header>

    <section class="how-it-works">
        <div class="wrapper wrapper--how">
            <h3 class="section-heading">How Urlaubsglück works?</h3>
            <div class="jcarousel">
                <ul class="jcarousel__list">
                    <li class="tile jcarousel__tile jcarousel__tile--1">
                        <article class="tile__article">
                            <p class="tile__step">Step 1</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--2">
                        <article class="tile__article">
                            <p class="tile__step">Step 2</p>
                            <h4 class="tile__heading tile__heading--how">Morbi velit risus</h4>
                            <p class="tile__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--3">
                        <article class="tile__article">
                            <p class="tile__step">Step 3</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                </ul>
                <div class="flex-direction-nav">
                    <span class="arrow arrow--left jcarousel-control-prev"></span>
                    <span class="arrow arrow--right jcarousel-control-next"></span>
                </div>
            </div>
            <div class="jcarousel">
                <ul class="jcarousel__list">
                    <li class="tile jcarousel__tile jcarousel__tile--2">
                        <article class="tile__article">
                            <p class="tile__step">Step 2</p>
                            <h4 class="tile__heading tile__heading--how">Morbi velit risus</h4>
                            <p class="tile__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--3">
                        <article class="tile__article">
                            <p class="tile__step">Step 3</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--1">
                        <article class="tile__article">
                            <p class="tile__step">Step 1</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                </ul>
                <div class="flex-direction-nav">
                    <span class="arrow arrow--left jcarousel-control-prev"></span>
                    <span class="arrow arrow--right jcarousel-control-next"></span>
                </div>
            </div>
            <div class="jcarousel">
                <ul class="jcarousel__list">
                    <li class="tile jcarousel__tile jcarousel__tile--3">
                        <article class="tile__article">
                            <p class="tile__step">Step 3</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--1">
                        <article class="tile__article">
                            <p class="tile__step">Step 1</p>
                            <h4 class="tile__heading tile__heading--how">Sed leo enim, condimentum</h4>
                            <p class="tile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </article>
                    </li>
                    <li class="tile jcarousel__tile jcarousel__tile--2">
                        <article class="tile__article">
                            <p class="tile__step">Step 2</p>
                            <h4 class="tile__heading tile__heading--how">Morbi velit risus</h4>
                            <p class="tile__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </article>
                    </li>
                </ul>
                <div class="flex-direction-nav">
                    <span class="arrow arrow--left jcarousel-control-prev"></span>
                    <span class="arrow arrow--right jcarousel-control-next"></span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="meet-a-partner">
        <div class="wrapper wrapper--partner">
            <h3 class="section-heading section-heading--partner">Meet a partner for your best holiday</h3>
            <div class="partner">
                <img src="img/partner1.png" class="partner__image" alt="Partner Image">
                <div class="partner__icon-wrap partner__icon-wrap--red">
                    <div class="partner__icon-tv"></div>
                </div>
                <p class="partner__name">Bradley Hunter</p>
                <p class="partner__desc">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
            <div class="partner">
                <img src="img/partner3.png" class="partner__image" alt="Partner Image">
                <div class="partner__icon-wrap partner__icon-wrap--green">
                    <div class="partner__icon-cup"></div>
                </div>
                <p class="partner__name">Heather Walker</p>
                <p class="partner__desc">I'm a happy person that loves cats and climbing on mountains.</p>
            </div>
            <div class="partner">
                <img src="img/partner2.png" class="partner__image" alt="Partner Image">
                <div class="partner__icon-wrap partner__icon-wrap--yellow">
                    <div class="partner__icon-bottle"></div>
                </div>
                <p class="partner__name">Lucas Marsha</p>
                <p class="partner__desc">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
            </div>
            <div class="partner">
                <img src="img/partner4.png" class="partner__image" alt="Partner Image">
                <div class="partner__icon-wrap partner__icon-wrap--blue">
                    <div class="partner__icon-plane"></div>
                </div>
                <p class="partner__name">Bradley Hunter</p>
                <p class="partner__desc">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
            <a href="#" class="button button--partners">See other partners</a>
        </div>
    </section>
    
    <section class="discover-ideas">
        <div class="wrapper">
            <h3 class="section-heading">Discover holiday activity ideas</h3>
        </div>
    </section>
    
    <section class="searcher">
        <div class="wrapper">
            <h3 class="section-heading">Discover holiday activity ideas</h3>
            <p class="searcher__desc">Hi! What are your holiday interests?</p>
            <input class="searcher__input" type="text" placeholder="Enter your interests">
            <a href="#" class="button button--searcher">Search partners</a>
        </div>
    </section>
    
    <script type="text/template" id="ideas-template">
        <div class="grid">
        <% for (var i = 0; i<data.length; i++) { %>
            <div class="tile tile--ideas
            <% if (( i === 5 ) || ( i === 4 )){ %>
                tile--ideas-width2
                <% } %>" style = "background: url(<%= data[i].imageurl %>); background-size: cover">
                <a href="#" class="tile__heading tile__heading--ideas"><h3><%= data[i].word %></h3></a>
            </div>
        <% }; %>
        </div>
    </script>

    <footer class="footer">
        <div class="wrapper wrapper--footer">
            <a class="footer__title" href="#"><h2>Urlaubsglück</h2></a>
            <div class="company-wrapper">
                <p class="footer-menu__title">Company</p>
                <ul class="footer-menu">
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">About</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Contacts</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Press</a></li>
                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">Blog</a></li>
                </ul>
            </div>
            <div class="partners-wrapper">
                <p class="footer-menu__title">Partners</p>
            </div>
            <div class="designed-by">
                <p class="designed-by__text">Designed by</p>
                <img class="designed-by__logo" src="img/footer__logo.png" alt="Designer Logo">
            </div>
        </div>
    </footer>

    <script src="js/vendor.min.js"></script>
</body>
</html>