* {
	margin: 0;
	padding: 0;
}

main {
	height: 2525px;
	max-width: 320px;
	margin: 0 auto;
}

/* HEADER */

header {
	height: 517px;
	width: 100%;
	background-image: url(../img/bg-960.jpg);
	background-position: center top;	
}

.logo {
	height: 40px;
	width: 152px;
	margin: 0 auto;
	padding-top: 67px;
}

.logo__link {
	display: inline-block;
	height: 40px;
}

.menu {
	text-align: center;
	font-family: 'League Gothic', arial;
	font-size: 24px;
	margin-top: 10px;
}

.menu__first-item {
	display: inline-block;
	list-style: none;
}

.menu__home {
	color: #ffffff;
	text-decoration:none; 
	display: inline-block;
	border-bottom: 2px solid #edbfff;
	position: absolute;
	z-index: 2;
	margin-left: -18px;
}

.menu__dropdown {
	list-style: none;
	display:none; 
	background-color: rgba(63, 50, 72, 0.8);
	padding:5px; 
	border: 1px solid #101a21;
	margin-top: -5px;
	border-radius: 10px;
	position: absolute;
	margin-left: -127px;
}

.menu__dropdown__link {
	color: #ffffff;
	text-decoration:none;
	display: inline-block;
	width: 245px;
	line-height: 35px;
}

.menu__first-item:hover .menu__dropdown 
{ 
	display: block; 
	width: 245px;
}

.menu__dropdown__item {
	border-top: 1px solid #523f5a;
	border-bottom: 1px solid #36283e;
	margin-left: -5px;
	margin-right: -5px;

}

.menu__dropdown__item:last-child {
	border-bottom: none;
}

.menu__dropdown__item:hover {
	background: rgba(43, 34, 49, 0.8);
	border-top: 1px solid #503d58;
	margin-left: -5px;
	margin-right: -5px;
	border-bottom: 3px solid #edbfff;
}

.menu__dropdown__item:first-child {
	border-top: none;
	opacity: 0;
}

.slider {

	width: 100%;
	height: 165px;
	font-family: 'League Gothic', arial;
	margin-top: 123px;
}

.slider__arrow--left {
	height: 44px;
	width: 28px;
	background-image: url(../img/navigation_mobile.png);
	float: left;
	margin-top: 12px;
	margin-left: -5px;

}

.slider__arrow--right {
	float: right;
	height: 44px;
	width: 26px;
	background-image: url(../img/navigation_mobile.png);
	background-position: -27px;
	margin-top: -43px;
}

.slider__title {
	width: 205px;
	height: 55px;
	margin: 0 auto;
	padding-left: 15px;
}

.slider__title--first {
	color: #fefefe;
	font-size: 35px;
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
}

.slider__title--second {
	color: #edbfff;
	font-size: 18px;
	text-shadow: rgb(71, 71, 71) 2px 3px 2px;
	margin-top: -5px;
}

.slider__link {
	display: inline-block;
	height: 44px;
	width: 26px;
}

.slider__circle {
	margin-top: 107px;
	margin-left: 125px;
}

.circle-menu {
	list-style: none;
	float: left;
}

.circle-menu__item {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url(../img/navigation_mobile.png);
	background-position: -52px;
	margin-right: 3px;
}

.circle-menu__item:hover {
	background-image: url(../img/navigation_mobile.png);
	background-position: -68px;
	position: absolute;
}