$header_bg: 			#ffffff;
$news_bg: 				#f7f7f7;
$main_nav_bg: 			#2a2d32;
$search_bg: 			#35383c;
$services_bg: 			#2a2d32;
$news_bg: 				#f7f7f7;
$footer_bg: 			#35383c;
$logos_bg: 				#ffffff;
$links_active: 			#248cec;
$logo__text: 			#3e3e3e;
$items_color: 			#ffffff;
$numbers_color: 		#e9e9ea;
$title_color: 			#2a2b2e;
$text_color: 			#8a8a8a;
$services-text_color: 	#ffffff;
$services-active_color:	#f4b60d;
$news__date_month:		#ffffff;
$news__date_day:		#2a2b2e;
$panel_active:			#f4b60d;
$panel_non_active:		#ffffff;
$border_panel: 			#e8e8e8;
$border_panel_active: 	#f6c53d;
$lower-nav__text: 		#6a6c70;