
body{
	background: #eee;
}

.Page{
	height: 721px;
	width: 462px;
	background-color: white;
	font-size: 18px;
	margin: 0 auto;
	padding: 50px;
	padding-top: 30px;
	line-height: 1.5;
	border: 3px solid #D8D8D8;
}

 .center {
 	text-align: center; 
 }

 .Page p{
 	padding-left: 10px;
 }