* {
  margin: 0;
  padding: 0; 
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

.enter_data {
	float: right;
}

.data {
  width: 600px;
  float: left;
}

th {
      cursor: pointer;
}

th:hover {
      background: #d8ebf5;
}
