*{
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 14px;
}

/* HEADER*/
.main {
	width: 100%;
}


.darkblue {
	height: 30px;
	background-color: #128aa7; 
}

.gradient {
	height: 145px;
	background: linear-gradient(to bottom, #14cee2, #fcfeff);
    border-top: 1px solid #5ef0ff;
}

.picture {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left:-500px;
	height: 175px;
}

/* CONTENT */

.content {
	height: 815px;
	background: linear-gradient(to top, #0c739f, #3fc5d2);
	text-align: center;
}

.content-center {
	width: 1000px;
	margin: 0 auto;
}

.image {
	border-top: 1px solid #128aa7;
}

.shadow {
	float:left;
	height: 5px;
	width: 1000px;
	background: linear-gradient(to bottom, #d5d7d6, #031d28);
	margin-left:175px;
	opacity:0.5;
}


/* MENU */

.menu {
	width: 1000px;
}

.menu ul li {
	margin-top: -5px;
	position: relative;
	display: inline-block;
	margin-left: -.35em;
	padding: 8px 41.8px 8px 19px;
	color: white;
	background-color: #323232;
}

.menu ul li:first-child {
	margin-left: 0;
	padding-left: 63px;
	padding-right: 55px;
}

.menu ul li:last-child {
	padding-right: 40px;
}

.menu li ul {
	position:absolute; 
	left: 5px; 
	top: 35px; 
	display:none;
}

.hide ul li:first-child {
	margin-left: -5px;
	padding: 8px 42px 8px 19px;
	border-top: 2px solid black;
}

.hide > ul {
  display: none;   // скрываем все дочерние списки
}
.hide:hover > ul {
  display: block;   // при наведении мыши отображаем дочерний список
}

.hide ul li {
	display: block;
}

.menu a {
	color: white;
	text-decoration: none;
}

.column1 {
	float: left;
	width: 21%;
	height: 540px;
	padding-top: 5px;
	background-color: #edeef0;
	text-align: center;
	line-height: 1.7;
	border-right: 1px solid #c7cacf;
}


.column2 {
	float: left;
	width: 57.8%;
	height: 545px;
	background-color: #ffffff;

}

.column3 {
	float: right;
	width: 21%;
	height: 540px;
	padding-top: 5px;
	background-color: #edeef0;
	text-align: center;
	line-height: 1.7;
	border-left: 1px solid #c7cacf;

}

.title {
	font-color: #424c43;
	font-size: 20px;
	font-style: bold; 
}


/* FOOTER */

footer {
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #0c739f;
	text-align: center;
}

footer p {
	color: white;
	line-height: 2;
}




