$stripe: 				#db3534;
$submenu:				#090c04;
$submenu-text:			#e0dddd;
$header-text:			#ffffff;
$header_column:			#992524;
$header_border: 		#fa3d3b;
$header_languages:		#ff3f3e;
$basket-color:			#d53332;
$basket-border:			#f73c3b;
$doors-text:			#5b802c;
$border-slider:			#ffffff;
$nav-text:				#217921;
$nav-text_hover:		#cc0000;
$content_paragraph: 	#333333;	
$aside-text-light:		#5b5b5b;
$footer-line-bottom:	#79b631;
$footer-copy:			#ff6666;
$footer-text:			#ffffff;