<footer class="footer">
    <div class="wrapper wrapper--footer">
        <a class="footer__title" href="#"><h2>Urlaubsglück</h2></a>
        <div class="company-wrapper">
            <p class="footer-menu__title">Company</p>
            <ul class="footer-menu">
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">About</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Contacts</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Press</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Blog</a></li>
            </ul>
        </div>
        <div class="partners-wrapper">
            <p class="footer-menu__title">Partners</p>
        </div>
        <div class="designed-by">
            <p class="designed-by__text">Designed by</p>
            <img class="designed-by__logo" src="img/footer__logo.png" alt="Designer Logo">
        </div>
    </div>
</footer>
