@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/League Gothic Regular/leaguegothic-regular-webfont.eot');
    src: url('../fonts/League Gothic Regular/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League Gothic Regular/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/League Gothic Regular/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/League Gothic Regular/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open Sans Light/opensans-light-webfont.eot');
    src: url('../fonts/Open Sans Light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open Sans Light/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/Open Sans Light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/Open Sans Light/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	width: 100%;
	height: 100%;
}

header {
	background: url(../img/background_up_black.png), url(../img/background_up.jpg);
	background-position: center 278px, center center;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 400px, cover;
    width: 100%;
	height: 844px;
	overflow: hidden;
}

.wrapper {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.wrapper_ext {
	width: 970px;
}

header .logo {
	margin-top: 51px;
	float: left;
}

header .top_nav {
	float: right;
	margin-top: 74px;
	overflow: hidden;
}

.top_nav li {
	font-family: 'League Gothic Regular';
	font-size: 24px;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 48px;
	text-shadow: 1px 1px 2px #988d91;
}

.top_nav li:hover {
	border-bottom: 2px solid #edbfff;
	cursor: pointer;
}
1
header .slider {
	position: relative;
	height: 100%;
}

header article {
	margin-top: 245px;
	height: 100%;
	width: 54%;
	color: #fff;
	float: left;
	clear: both;
}

header article h1 {
	font-family: 'League Gothic Regular';
	font-size: 61px;
	letter-spacing: -.7px;
	width: 100%;

}

header article h3 {
	font-family: 'League Gothic Regular';
	font-size: 32px;
	letter-spacing: -.03px;
	color: #edbfff;
	text-transform: uppercase;
	width: 100%;
}

header article p {
	font-family: 'Open Sans Light';
	font-size: 18px;
	margin-top: 6px;
	letter-spacing: -.06px;
	line-height: 24px;
	width: 100%;
}

header article p span {
	letter-spacing: -.4px;
}

header .slider img {
	margin:  16% 7% 0 0;
	float: right;
}

header .radio_block {
	float: right;
	margin: 8% 17% 0 0;
	clear: both;
}

header .radio_passive {
	height: 15px;
	width: 16px;
	background: rgba(0, 0, 0, .3);
	display: inline-block;
	border-radius: 15px;
	margin-left: 2px;
}

header .radio_passive:nth-child(2) {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .7) inset;
	background-color: #fff;
}

header .radio_passive:hover {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .7) inset;
	background-color: #fff;
}

header .arrows {
	position: absolute;
	background-repeat: no-repeat;
	background-position: 10% 0;
	height: 40px;
	width: calc((100% - 960px)/2);
	top: 478px;
	z-index: 1;
}

header .arrow_left {
	background-image: url(../img/arrow_left.png);
}

header .arrow_right {
	background-image: url(../img/arrow_right.png);
	right: -1px;
	background-position: 90% 0;
}

.about {
	height: 339px;
	width: 100%;
	background: linear-gradient(to top, #322539, #745083);
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #1d2f37;
	overflow: hidden;
}

.about .about_us {
	width: 23.4%;
	display: inline-block;
	margin-top: 77px;
	position: relative;
	color: #fff;
}

.about .about_us:nth-child(1) {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 15px 7px;
	padding-left: 68px;
}

.about .about_us:nth-child(2) {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -405px 7px;
	padding-left: 108px;
}

.about .about_us:nth-child(3) {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -865px 7px;
	padding-left: 105px;
}

.about h3 {
	font-family: 'League Gothic Regular';
	font-size: 32px;
	letter-spacing: -.7px;
	line-height: 32px;
	text-transform: uppercase;
	padding-left: 1px;
	padding-bottom: 1px;
}

.about p {
	font-family: 'Open Sans Light';
	font-size: 16px;
	margin-top: 6px;
	letter-spacing: -.06px;
	line-height: 24px;

}

.about a {
	font-family: 'League Gothic Regular';
	float: right;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	margin: 17px 11px 0 0;
	letter-spacing: -.3px;
}

.testemonial {
	background-color: #f9f9f9;
	width: 100%;
	height: 489px;
}

.testemonial article {
	width: 44%;
	float: left;
	background-color: #fff;
	margin: 103px 0 0 24px;
	position: relative;
}

.testemonial img {
	position: absolute;
	left: 0;
	top: 25%;
	z-index: 1;
}

.testemonial article h3 {
	font-family: 'League Gothic Regular';
	font-size: 30px;
	color: #454545;
	padding-left: 39px;
	text-transform: uppercase;
	padding-top: 29px;
	letter-spacing: 0.01px;
}

.testemonial article h3 span {
	color: #edbfff;
}
	
.testemonial article p {
	font-size: 16px;
	padding: 9px 29px 15px 39px;
	font-family: 'Open Sans Light';
	letter-spacing: -0.06px;
	line-height: 24px;
}

.testemonial>.wrapper>article>ul {
	position: relative;
	top: 43px;
	left: 168px;
}

.testemonial .testemonial_radio {
	background-image: url(../img/button_sprite.png);
	width: 14px;
	height: 20px;
	float: left;
	padding-left: 4px;
	margin-left: 4px;
}

.testemonial .testemonial_radio:hover {
	background-position: 0 -20px;
	cursor: pointer;
}

.updates {
	float: right;
	width: 46.7%;
	margin-top: 132px;
}

.updates h3 {
	font-family: 'League Gothic Regular';
	font-size: 30px;
	color: #454545;
	text-transform: uppercase;
	letter-spacing: 0.01px;
	margin-left: -2px;
}

.updates li {
	padding-left: 50px;
	background-repeat: no-repeat;
	height: 50px;
	margin-top: 16px;
}

.updates li:nth-child(1) {
	background-image: url(../img/update-1.png);
}

.updates li:nth-child(2) {
	background-image: url(../img/update-2.png);
}

.updates li:nth-child(3) {
	background-image: url(../img/update-3.png);
}


.updates p {
	font-family: 'Open Sans Light';
	font-size: 16px;
	margin-top:8px;
	padding-left: 15px;
	letter-spacing: -0.1px;
}

.updates .extrabold {
	font-weight: 800;
	padding-top: 4px;
	letter-spacing: 0.9px;
}

.updates>span {
	float: right;
	font-family: 'League Gothic Regular';
	letter-spacing: -.3px;
	font-size: 19px;
	margin: 20px 21px 0 0;
}

.projects {
	background-color: #f9f9f9;
	width: 100%;
	height: 120px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #d8d8d8;
}

.projects ul {
	width: 960px;
	height: 120px;
	margin: 0 20%;
	display: block;
}

.projects li {
	display: inline-block;
	margin: 24px 20px 0 41px;
}

.projects li:nth-child(4) {
	margin: 0 20px 0 49px;
}

.projects li:nth-child(5) {
	margin: 0 20px 0 45px;
	vertical-align: 140%;
}

.projects li:nth-child(6) {
	margin: 0 20px 0 43px;
}

.recent {
	height: 396px;
	width: 100%;
	background-color: #ececec;
}

.recent .wrapper {
	padding-top: 96px;
}

.recent article {
	float: left;
	width: 29.1%;
}

.recent article:nth-child(1) h3 {
	display: none;
}

.recent article:nth-child(2) {
	margin: 0 59px;
}

.recent h2 {
	font-size: 48px;
	color: #454545;
	font-family: 'League Gothic Regular';
	line-height: 45px;
	letter-spacing: -.4px;
}

.recent h2 span {
	color: #b9b9b9;
}

.recent h3 {
	color: #454545;
	font-size: 30px;
	font-family: 'League Gothic Regular';
	margin-bottom: 8px;
}

.recent .copyright {
	font-size: 16px;
	color: #c5c5c5;
	font-family: 'Georgia Italic';
	font-style: italic;
	margin: 10px 0 7px 0;
	letter-spacing: .5px;
}

.recent p {
	color: #787878;
	font-size: 16px;
	font-family: 'Open Sans Light';
	letter-spacing: -.08px;
	line-height: 24px;
}

footer {
	width: 100%;
	height: 114px;
	background: url(../img/footer.png) center center no-repeat;
}

footer ul {
	float: left;
	margin-top: 46px;
}

footer li {
	text-transform: uppercase;
	font-family: 'League Gothic Regular';
	font-size: 20px;
	color: #fff;
	display: inline-block;
	margin-right: 39px;
	text-shadow: 1px 2px 2px #333;
}

footer p {
	float: right;
	font-family: 'Open Sans Light';
	font-size: 12px;
	color: #fff;
	margin-top: 5%;
}

footer p span {
	font-weight: 900;
	letter-spacing: 0.6px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
	header {
		background-position: center 243px, center center;
		background-size: 100% 400px, auto;
		height: 797px;
		width: 100%;
	}

	.wrapper {
		width: 768px;
		margin-left: 0 auto;
	}
	header .logo {
		display: block;
	}

	header .top_nav {
		width: 100%;
		margin-top: 33px;
	}

	.top_nav li {
		margin: 0 48px 0 0;
	}

	header .slider {
		clear: both;
		overflow: hidden;
	}

	header article {
		margin-top: 22%;
		width: 40%;
		overflow: hidden;
	}

	header article h1 {
		font-size: 51px;
		letter-spacing: -1.1px;
		margin-left: 21px;
	}

	header article h3 {
		font-size: 25px;
		margin: 7px 0 0 21px;
		letter-spacing: -.3px;
	}

	header article p {
		font-size: 16px;
		margin: 6px 0 0 20px;
		letter-spacing: -.06px;
		line-height: 24px;
		height: 125px;
	}

	header article h3 span {
		display: none;
	}
	
	header .slider img {
		margin: 7% 9% 0 0;
	}

	header .radio_block {
		margin: 3% 21% 0 0;		
		clear: both;
	}

	header .arrows {
		background-position: 10% 0;
		width: calc((100% - 768px)/2);
		top: 420px;
	}

	header .arrow_right {
		right: 1%;
		background-position: 43% 0;
	}
	
	.about .about_us {
		width: 20.4%;
		margin-top: 9%;
/*		overflow: hidden;
		height: 53%;*/
	}

	.about .about_us:nth-child(1) {
		background-position: 10px 7px;
		padding-left: 8%;
	}

	.about .about_us:nth-child(2) {
		background-position: -420px 7px;
		padding-left: 12%;
	}

	.about .about_us:nth-child(3) {
		background-position: -870px 7px;
		padding-left: 13%;
	}

	.about h3 {
		font-size: 24px;
		letter-spacing: -.1px;
	}

	.about p {
		font-size: 16px;
		margin-top: 0;
	}

	.testemonial img {
		left: -1%;
		top: 24%;
	}
	.testemonial article {
		margin: 13% 0 0 2%;
		width: 41%;
		height: 48%;
		border-bottom: 40px solid #fff;
		overflow: hidden;
	}

	.testemonial article h3 {
		font-size: 24px;
	}

	.testemonial article span {
		display: block;
	}	
	.testemonial>.wrapper>article>ul {
		left: 35%;
		top: -30%;
	}
		
	.updates {
		width: 50%;
		margin-top: 130px;
	}

	.updates .update_item span {
		display: none;
	}

	.updates span {
		margin-right: 13%;
	}
	
	.projects ul {
		margin-left: -6%;
	}

	.projects li {
		margin: 2% -2% 0 8%;
	}

	.projects li:nth-child(4) {
		margin: 2% 0 0 9%;
	}

	.projects li:nth-child(5) {
		margin: 4% 0 0 6%;
		vertical-align: 115%;
	}

	.projects li:nth-child(6) {
		margin-right: 5%;
	}
		
	.recent article {
		width: 28%;
		height: 51%;
		overflow: hidden;
	}

	.recent article:nth-child(1) {
		margin-left: -1%;
	}

	.recent article:nth-child(2) {
		margin: 0 6%;
	}
	
	.recent article:nth-child(1) h2,
	.recent article:nth-child(1) .copyright {
		display: none;
	}

	.recent article:nth-child(1) h3 {
		display: block;
	}

	.recent h3 {
		font-size: 26px;
	}

	footer {
		height: 201px;
		background: url(../img/footer-768.png) center center no-repeat;
	}

	footer ul {
		margin: 6% 0 0 -1%;
	}

	footer p {
		margin: 13% 6% 0 0;
	}

	footer p span {
		font-weight: 900;
		letter-spacing: 0.6px;
	}
}

@media only screen and (min-width: 480px)and (max-width: 768px) {
	header {
		background-position: center 152px, -757px -50px;
		background-size: 100% 246px, auto;
		height: 496px;
	}

	.wrapper {
		width: 480px;
		margin: 0 auto;
	}
	header .logo {
		float: none;
		margin: 0 auto;
		display: block;
	}

	header .top_nav {
		position: absolute;
		left: 24%;
		top: 1%;
		width: 248px;
		letter-spacing: -1px;
	}

	.top_nav .visible {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.top_nav li span {
		padding: 4% 0;	
		display: inline-block;	
	}

	.top_nav .visible span {
		border-bottom: 2px solid #edbfff;
	}

	.top_nav li:nth-child(n+2) {
		display: none;
	}

	.top_nav:hover {
		background-color: rgba(54, 41, 62, .9);
		border: 1px solid #111b22;
		border-radius: 8px;
	}

	.top_nav:hover .visible {
		border-top: 1px solid #5f486a;
		border-bottom: 1px solid #3e3146;
	}

	.top_nav:hover .visible span {
		padding: calc(4% - 2px)  0;
	}

	.top_nav:hover li:nth-child(n+2) {
		display: block;
		margin: 0 auto;
		width: auto;
		text-align: center;
		border-top: 1px solid #5f486a;
		border-bottom: 1px solid #3e3146;
	}

	.top_nav:hover li:nth-child(n+2):hover {
		border-bottom: 2px solid #edbfff;
		background: rgba(0, 0, 0, .3);
	}

	header article {
		margin: 39% 0 0 8%;
		width: 42%;
	}
		
	header article h1 {
		font-size: 36px;
	}

	header article h3 {
		font-size: 18px;
	}

	header article p {
		display: none;
	}

	header .slider img {
		width: 192px;
		height: auto;
		margin:  18% 7% 0 0;
	}

	header .radio_block {
		margin: -6% 40% 0 0;
	}

	header .arrows {
		background-position: 10% 0;
		width: calc((100% - 480px)/2);
		top: 51%;
	}

	header .arrow_right {
		background-position: 100% 0;
	}

	.about {
		height: 595px;
	}

	.about .about_us {
		width: 80%;
		margin-left: 7%;
	}

	.about .about_us h3{
		font-size: 23px;
	}

	.about .about_us:nth-child(1) {
		padding-left: 13%;
		margin-top: 15%;
	}

	.about .about_us:nth-child(2) {
		background-position: -438px 7px;
		padding-left: 12%;
		margin-top: 3%;
	}

	.about .about_us:nth-child(3) {
		background-position: -900px 7px;
		padding-left: 13%;
		margin-top: 4%;
	}

	.about p {
		margin-top: 0;
	}

	.testemonial {
		height: 785px;
	}

	.testemonial img {
		top: 11%;
		left: 6%;
	}

	.testemonial article {
		width: 89%;
		margin: 15% 0 0 11%;
		height: 23%;
	}

	.testemonial article h3 span {
		display: inline;
	}
		
	.testemonial>.wrapper>article>ul {
		position: relative;
		top: 43px;
		left: 168px;
	}

	.updates {
		width: 80%;
		margin-top: 37%;
	}

	.projects {
		height: 232px;
	}

	.projects ul {
		width: 480px;
		height: 232px;
		margin: 0 17%;
	}

	.projects li {
		margin: 8% -10% 0 20%;
	}

	.projects li:nth-child(4) {
		margin: 5% 0 0 17%;
	}

	.projects li:nth-child(5) {
		margin: 0 0 0 11%;
		vertical-align: 140%;
	}

	.projects li:nth-child(6) {
		margin: 0 0 0 11%;
	}
	
	.recent {
		height: 668px;
	}

	.recent .wrapper {
		padding-top: 11%;
	}

	.recent article {
		width: 94%;
		height: 30%;
	}

	.recent article h2,
	.recent article .copyright {
		display: none;
	}
	.recent article h3 {
		font-size: 24px;
		display: block;
	}

	.recent article:nth-child(1) h3 {
		display: block;
	}

	.recent article:nth-child(1) {
		margin-left: 6%;
		height: 30%;
	}

	.recent article:nth-child(2) {
		margin: -4% 0 0 6%;
	}

	.recent article:nth-child(3) {
		margin: -2% 0 0 6%;
	}

	footer {
		height: 202px;
		background: url(../img/footer-480.png) center center no-repeat;
	}

	footer ul {
		float: left;
		margin: 10% 0 0 7%;
		width: 100%;
	}

	footer li {
		font-size: 20px;
		display: inline-block;
		margin-right: 4.3%;
	}
	
	footer p {
		float: right;
		font-family: 'Open Sans Light';
		font-size: 12px;
		color: #fff;
		margin: 8% 33% 0 0;
	}
}

@media only screen and (max-width: 480px) {
	header {
		background: url(../img/background_up.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		height: 517px;
	}

	.wrapper {
		width: 280px;
	}

	header .top_nav {
		position: absolute;
		left: -17%;
		top: 13%;
		width: 248px;
		letter-spacing: -1px;
	}

	.top_nav .visible {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.top_nav li span {
		padding: 4% 0;	
		display: inline-block;	
	}

	.top_nav .visible span {
		border-bottom: 2px solid #edbfff;
	}

	.top_nav li:nth-child(n+2) {
		display: none;
	}

	.top_nav:hover {
		background-color: rgba(54, 41, 62, .9);
		border: 1px solid #111b22;
		border-radius: 8px;
	}

	.top_nav:hover .visible {
		border-top: 1px solid #5f486a;
		border-bottom: 1px solid #3e3146;
	}

	.top_nav:hover .visible span {
		padding: calc(4% - 2px)  0;
	}

	.top_nav:hover li:nth-child(n+2) {
		display: block;
		margin: 0 auto;
		width: auto;
		text-align: center;
		border-top: 1px solid #5f486a;
		border-bottom: 1px solid #3e3146;
	}

	.top_nav:hover li:nth-child(n+2):hover {
		border-bottom: 2px solid #edbfff;
		background: rgba(0, 0, 0, .3);
	}

	header article {
		margin: 67% 0 0 -6%;
		width: 77%;
	}

	header article h1 {
		font-size: 38px;
	}

	header article h3 {
		font-size: 18px;
	}

	header article p {
		display: none;
	}

	header .slider img {
		display: none;
	}
	
	header .radio_block {
		margin: 23% 56% 0 0;
	}

	.wrapper_ext {
		width: 360px;
	}

	.about {
		height: 598px;
	}

	.about .about_us {
		width: 71%;
		margin-left: -4%;
		height: 18%;
		overflow: hidden;
	}

	.about .about_us h3 {
		font-size: 24px;
	}

	.about p {
		margin-top: 0;
	}

	.about .about_us:nth-child(1) {
		background-position: -3px 7px;
		padding-left: 15%;
		margin-top: 19%;
	}

	.about .about_us:nth-child(2) {
		background-position: -460px 7px;
		padding-left: 15%;
		margin-top: 12%;
	}

	.about .about_us:nth-child(3) {
		background-position: -920px 7px;
		padding-left: 18%;
		margin-top: 18%;
	}
	
	.testemonial {
		height: 785px;
	}

	.testemonial img {
		left: -22%;
		top: 11%;
	}

	.testemonial article {
		margin: 24% 0 0 -15%;
		height: 32%;
		width: 93%;
		overflow: hidden;
	}

	.testemonial article h3 {
		font-size: 23px;
	}

	.testemonial article h3 span {
		display: block;
	}

	.testemonial>.wrapper>article>ul {
		left: 37%;
		top: -72%;
	}

	.updates {
		width: 100%;
		margin: 40% 23% 0 0 ;
	}

	.updates .update_item span {
		display: none;
	}

	.updates p .update_year {
		display: none;
	}

	.updates>span {
		margin-right: 2%;
	}

	.projects {
		height: 422px;
	}

	.projects ul {
		width: 280px;
		margin: 0 7%;
	}

	.projects li {
		margin: 19% 5% 0 14%;
	}

	.projects li:nth-child(4) {
		margin: 22% 0 0 20%;
	}

	.projects li:nth-child(5) {
		margin: 22% 0 0 8%;
	}

	.projects li:nth-child(6) {
		margin: 0 0 0 19%;
	}

	.recent {
		display: none;
	}

	footer {
		background: rgba(0, 0, 0, 0) url("../img/footer-320.png") no-repeat scroll center center;
		height: 200px;
	}

	footer ul {
		display: none;
	}

	footer p {
		display: inline-block;
		margin: 15% 49% 0 0;
	}
}