<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework23-24</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/src/main.js" data-main="js/todo"></script>
</head>
<body>
<script type="text/template" id="main-page">
  <div class="todo">
    <ul class="todo__list">
    </ul>
    <input type="text" class="todo__input">
    <button class="todo__button">Add new</button>
  </div>
</script>
<script type="text/template" id="todo-item">
  <% for(var i = 0; i < data.length; i++) { %>
    <li class="todo__item">
      <!-- <span class="todo__item-text"><%= data[i] %></span> -->
      <input class="todo__item-input" type="text" value="<%= data[i] %>">
      <span data-value="<%= data[i] %>" class="todo__item-delete"> x</span>
    </li>
  <% }; %>
</script>
</body>
</html>