<header class="header">
    <div class="wrapper">
        <div class="float-wrapper">
            <div class="login">
                <a href="#" class="login__button">Log in</a>
                <a href="#" class="login__button login__button--bordered">Sign up</a>
            </div>
            <h1 class="header__title">URLAUBSGLÜCK</h1>
        </div>
        <h2 class="header__slogan">Share your holiday dreams</h2>
        <p class="header__slogan--add">And find the perfect partner to fullfill it</p>
        <a href="#" class="button button--header-main">Find your holiday partner</a>
    </div>
</header>